#myTextArea {
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #f8f8f8;
}

.root {
    -fx-background-color: linear-gradient(to bottom right, #4e342e, #8d6e63);
}

.button {
    -fx-background-color: #d7ccc8;
    -fx-text-fill: #3e2723;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 0, 0, 2);
}