.main-title {
    -fx-font-size: 90px;
    -fx-text-fill: white;
    -fx-font-weight: bold;

    -fx-effect: dropshadow(gaussian, green, 10, 0.5, 0, 0);
}

#root {
    -fx-background-image: url("../Assets/WelcomeBG.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}